<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Login</title>
        <link rel="stylesheet" href="/css/login.css" />
        <script src="/js/login.js"></script>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

        <style>
   
  </style>
    </head>
    <body>
        <div class="login-container">
            <h2>Admin Login</h2>
            <form id="login-form">
                <input type="email" name="email" placeholder="Email"
                    id="login-email" required />
                <input type="password" name="password" placeholder="Password"
                    id="login-password"
                    required />
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>