body {
  position: relative;
  font-family: 'Tiro Devanagari Sanskrit', serif;
  color: #0077cc;
  padding-top: 70px;
  overflow-x: hidden;
  z-index: 0;
}

/* Blurred background using ::before */
body::before {
  content: "";
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/gallery10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 
  z-index: -1;           /* Behind all content */
}

/* admin uploads */

.glass-box {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  color: #000;
  transition: all 0.3s ease;
  height: 34rem;
}

.glass-box:hover {
  background: rgba(255, 255, 255, 0.25);
}

#preview img {
  max-width: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Highlight on drag over */
#drop-area.highlight {
  border: 2px dashed #0d6efd;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
}

/* Optional styling for preview images */
.preview-img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.preview-img:hover {
  transform: scale(1.05);
}
