<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple Sidebar</title>
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <title><%= title %></title>
    </head>
    <body>

        <div class="sidebar">
            <a href="/v2/admin/dashboard"><i class="bi bi-speedometer2"></i>Dashboard</a>
            <a href="/v2/admin/admin-uploads"><i class="bi bi-upload"></i>Image Upload</a>
            <a href="/v2/admin/users-contacts-details"><i class="bi bi-person-lines-fill"></i>User Contacts</a>
        </div>

    </body>
</html>