<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Simple Sidebar</title>
        <link rel="stylesheet" href="/css/sidebar.css">
        <title><%= title %></title>
    </head>
    <body>

        <div class="sidebar">
            <a href="/v2/admin/dashboard">Dashboard</a>
            <a href="/v2/admin/admin-uploads">Image Upload</a>
            <a href="/v2/admin/users-contacts-details">User Contacts</a>
        </div>

    </body>
</html>